In [262]:
import pandas as pd

In [263]:
# load sample data

sample_path = '../data/sample/50Cent_CandyShop.rap'
sample = pd.read_table(sample_path)

In [264]:
sample.head(10)

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype
0,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4
1,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98
2,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1
3,!MC:50 Cent,!MC:50 Cent,!,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent
4,=0,=0,=0,=0,=0,=0,=0,=0
5,2,.,.,.,.,R,.,.
6,8,.,.,.,.,R,.,.
7,16,1,.,4,.,ju,You,.
8,16,0,.,.,.,kʊd,could,.
9,16,1,.,.,.,hæv,have,.

In [265]:
# check the rows with na 

sample[sample.isnull().any(axis=1)]
#sample.shape
# na rows are metadata rows. We are safe to proceed.

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype
457,!!!OTL:Candy Shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,!!!RTL:the Massacre,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,!!!RRD:2005/01/15|2005/02/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,"!!!RRM:Shady, Aftermath",NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,!!!RC#:004092,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,!!!BPP:1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,!!!BPD:2005/03/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,!!!COC:50 Cent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,!!!COL:50 Cent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,!!!COM:Curtis James Jackson III,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,!!!CDT:1975/07/06->2016/01/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,!!!ENC:Nathaniel Condit-Schultz,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469,!!!EED:Nathaniel Condit-Schultz,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470,!!!RDT:2014/-2016/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,!!!EST:In progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
# save only the relevant metadata : release date, song title, artist
#title = sample['sample']
title = sample['**recip'][sample['**recip'].apply(lambda x: 'OTL:' in x)].values[0]
artist = sample['**recip'][sample['**recip'].apply(lambda x: 'COC:' in x)].values[0]
release = sample['**recip'][sample['**recip'].apply(lambda x: 'CDT:' in x)].values[0]
tempo = sample.iloc[1]['**recip']
meter = sample.iloc[0]['**recip']
print(title, artist, release, tempo, meter)

!!!OTL:Candy Shop !!!COC:50 Cent !!!CDT:1975/07/06->2016/01/ *MM98 *M4/4

In [267]:
# count the measure indicators and verse indicators
measures = sample['**recip'][sample['**recip'].apply(lambda x: '=' in x)]
verses = sample['**recip'][sample['**recip'].apply(lambda x: 'Verse' in x)]

#measures.append(verses).index

In [268]:
sample['**measure'] = 'None'
sample['**verse'] = 'None'
#sample['**measuar'] = sample

for i in measures.index:
    sample.at[i+1,'**measure'] =  measures.loc[i]
 
for i in verses.index:
    sample.at[i+1,'**verse'] =  verses.loc[i]
 
    
sample

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype,**measure,**verse
0,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,None,None
1,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,None,None
2,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,None,None
3,!MC:50 Cent,!MC:50 Cent,!,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,None,*>Verse1
4,=0,=0,=0,=0,=0,=0,=0,=0,None,None
...,...,...,...,...,...,...,...,...,...,...
467,!!!CDT:1975/07/06->2016/01/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
468,!!!ENC:Nathaniel Condit-Schultz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
469,!!!EED:Nathaniel Condit-Schultz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
470,!!!RDT:2014/-2016/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
471,!!!EST:In progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [269]:
sample[sample['**recip'].apply(lambda x: '*' in x)]

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype,**measure,**verse
0,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,None,None
1,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,None,None
2,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,None,None
236,*>Verse2,*>Verse2,*>Verse2,*>Verse2,*>Verse2,*>Verse2,*>Verse2,*>Verse2,None,None
456,*-,*-,*-,*-,*-,*-,*-,*-,None,None

In [271]:
sample =  sample.drop([0,1,3])
sample = sample.dropna(axis=0)
sample = sample.drop(measures.index, axis=0)
sample = sample.drop(verses.index, axis=0)
sample#.shape

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype,**measure,**verse
5,2,.,.,.,.,R,.,.,=0,None
6,8,.,.,.,.,R,.,.,None,None
7,16,1,.,4,.,ju,You,.,None,None
8,16,0,.,.,.,kʊd,could,.,None,None
9,16,1,.,.,.,hæv,have,.,None,None
...,...,...,...,...,...,...,...,...,...,...
452,16,0,.,.,l),tl,-ttle,.,None,None
453,16,0,.,.,.,Iz,is,.,None,None
454,8.,1,.,.,M],gan,gone,.,None,None
455,8,.,.,.,.,R,.,.,None,None
456,*-,*-,*-,*-,*-,*-,*-,*-,None,None

# humdrum analysis : break

explain further...

In [29]:
sample[sample['**break'] == '4']
# break 4: Complete declination unit. Indicate the beginning of the rap part (and end of the verse)

    **recip **stress **tone **break **rhyme **ipa **lyrics **hype
7        16        1      .       4       .    ju      You      .
63       16        0      .       4       .    aI        I      .
179      16        1      .       4       .   aIm      I'm      .
238      16        1      .       4       .   gIv     give      .
285      16        1      .       4       .   sun     soon      .

In [99]:
sample[sample['**break'] == '3']#.head(5)
# Sub-declination unit. This level of break is what we will explore in our flow studies

(34, 8)

In [98]:
print('number of level 2 break : {0}'.format(sample[sample['**break']=='2'].shape))
print('number of level 3 break : {0}'.format(sample[sample['**break']=='3'].shape))
print('number of level 4 break : {0}'.format(sample[sample['**break']=='4'].shape))
print('number of rhythmic onset : {0}'.format(sample.drop((measures.append(verses).index)).shape))
# things we might explore:
# how many syllables / rhythmical onsets per 'flow'? 
# how many recips?
# distribution of stressed points?

number of level 2 break : (4, 8)
number of level 3 break : (34, 8)
number of level 4 break : (5, 8)
number of rhythmic onset : (422, 8)

In [146]:
def cast_break(x):
    res = x
    if x in ['3','4']:
        res = int(x)
    return res

sample['**break'] = sample['**break'].apply(cast_break)
breaks_idx = sample[sample['**break'].apply(lambda x: x in [3,4])].index
# add closing break point

sample_flowwise = pd.DataFrame(columns=['recip','stress','lyric'])


for i in range(breaks_idx.shape[0]-1):
    (start, end) = (breaks_idx[i], breaks_idx[i+1])
    snippet = sample.iloc[start:end]
    sample_flowwise.at[i,'recip'] = snippet['**recip'].values
    sample_flowwise.at[i,'lyric'] = ' '.join(snippet['**lyrics'].values)

In [157]:
sample_flowwise

,recip,stress,lyric
0,"[16, 16, 16, 16, 8, =1, 8, 4.]","[1, 0, 1, 0, 1, =1, 0, .]",You could have it your =1 way .
1,"[16, 16, 16, 16, 16, 16]","[1, 0, 0, 1, 0, .]",How do you want it .
2,"[16, 16, =2, 12, 12, 12, 16, 16, 16, 16, 16, 8...","[1, 0, =2, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0]",you gon' =2 back that thing up or should I pus...
3,"[16, 16, 16, =3, 8, 16]","[1, 0, 0, =3, 1, 0]",tem- -per- -ature =3 ri- -sin'
4,"[8, 16, 16, 16, 16, 16, 16, 8, 16, 8, =4]","[1, 1, ., 0, 1, 0, 0, 1, 1, 0, =4]",O- -K . let's go to the next le- -vel =4
5,"[8, 8, 8, 8, 16, 16, 16, 8, 32, 32, 16]","[1, 1, 1, 1, 1, 0, 0, 1, 1, 0, .]",dance floor jam packed hot as a tea ke- -ttle .
6,"[16, =5, 16, 16, 8, 16, 16, 8, 16, 16, 16, 8, ...","[0, =5, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, .]",I =5 break it down for you now ba- -by it's si...
7,"[16, =6, 8, 16, 16, 8, 16, 16, 16, 16, 16, 8, ...","[0, =6, 1, 1, 0, 1, 0, ., 1, 0, 0, 1, 0, ., =7]",if =6 you be a nym- -pho . I be a nym- -pho . =7
8,"[16, 16, 8, 16, 16, 16, 16, 16, 16, 16, 8, 16]","[1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0]",in the ho- -tel or in the back of the ren- -tal
9,"[16, 16, =8, 16, 16, 16, 16, 16, 16, 16, 16, 1...","[1, 0, =8, 1, 0, 1, 0, 1, ., 1, 0, 1, 0, 0, 1, 0]",on the =8 beach or in the park . it's what- -e...
10,"[16, 16, =9, 8, 8, 16, 16]","[1, 0, =9, 1, 0, 1, .]",got the =9 ma- -gic stick .
11,"[16, 16, 8., 8, 16, 16]","[1, 0, 1, 1, 0, .]",I'm the love doc- -tor .
12,"[32, 32, =10, 8, 16, 16, 16, 16, 8, 8, 16, 8, ...","[1, 0, =10, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, .]",have your =10 friends tea- -chin' you a- -bout...
13,"[32, 32, =11, 16, 16, 16, 16, 16, 16, 16, 16, 8]","[1, 0, =11, 1, 0, 1, 0, 1, 0, 1, 0, .]",when you =11 show me what you work- -in' ba- -...
14,"[16, 16, 16]","[0, 1, 0]",no pro- -blem
15,"[16, 16, 16, =12, 16, 16, 16, 16, 16, 16, 8, 1...","[1, 0, 1, =12, ., 0, 1, 0, 1, 0, 1, 1, 0, 0, 1...",get on top =12 . then get your bounce a- -roun...
16,"[16, 16, =13, 8, 8, 16, 16, 16, 16, 16, 16, 16...","[1, 0, =13, 1, 0, 1, ., 1, 0, 1, 0, 0, 1, .]",I'm a =13 sea- -soned vet . when it come to th...
17,"[16, 16, 16, =14, 8, 16, 16, 8, 16, 16, 16, 16...","[1, 0, 0, =14, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, .]",af- -ter you =14 work up a sweat you could pla...
18,"[16, 8, =15, 16, 16, 8, 16, 16, 16, 16, 16, 16...","[0, 1, =15, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, .]",I'm tryin' =15 to ex- -plain ba- -by the best ...
19,"[8, =16, 8, 16, 16, 8, 8, 16, 16, 16, 8, 16, 1...","[0, =16, 1, 1, 0, 1, 1, 1, 0, 0, 1, ., 1, 1, *...",I =16 melt in your mouth girl not in your hand...
20,"[16, 16, 16, 16, 8, 16, 16]","[1, 0, 1, 0, 1, 0, .]",give it to me ba- -by .
21,"[8, 16, 8]","[1, 0, 1]",nice and slow
22,"[16, 8, =2, 8, 8, 16, 16, 16, 16, 8, 16, 8, 16]","[0, 1, =2, 1, 1, 1, 0, 1, 0, 1, 0, 1, .]",climb on =2 top ride like you in a ro- -de- -o .
23,"[16, 16, =3, 16, 16, 16, 16, 8, 8, 8, 16, 16, 16]","[1, 0, =3, 1, 0, 1, 0, 1, 0, 1, 0, 1, .]",you ain't =3 ne- -ver heard a sound like this ...
24,"[16, 16, 16, =4, 16, 16, 16, 16, 8, 8, 16]","[0, 1, 0, =4, 1, 0, 1, 0, 1, 0, 1]",cuz I ain't =4 ne- -ver put it down like this
25,"[16, 16, 16, 8, 16, 16, =5, 16, 16, 16, 16, 16...","[1, 0, 0, 1, 1, 0, =5, 1, 0, 1, 0, 1, 0, 1, 0,...",soon as I come through the =5 door she get to ...
26,"[16, 16, 16, 16, 8, =6, 16, 16, 16, 8, 8, 16, ...","[0, 1, 0, 0, 1, =6, 0, 1, 0, 1, 1, 1, 0, .]",it's like it's a race =6 who can get un- -dres...
27,"[16, 16, 16, 16, =7, 16, 16, 16, 16, 16, 16, 1...","[1, 0, 1, 0, =7, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,...",is- -n't it i- =7 -ro- -nic how e- -ro- -tic i...
28,"[16, 16, 16, 16, 16, 16, 8, 16, 16, 16, 8]","[0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1]",had me think- -in' 'bout that ass af- -ter I'm...
29,"[16, 16, 16, =9, 8, 8, 16, 16, 8, 8, 16]","[0, 1, 0, =9, 1, 1, 1, 0, 1, 1, .]",I touched the =9 right spot at the right time .
30,"[8, 8, 16, =10, 8, 16, 16, 16, 16, 16, 16, 8, 8]","[1, 1, 0, =10, 1, 1, 0, 1, 0, 1, 0, 1, .]",lights on or =10 lights off she like it from b...
31,"[8, 16, 8, =11, 16, 16, 16, 16, 16, 16, 16, 8,...","[1, 0, 1, =11, 0, 1, 0, 1, 0, 1, 0, 1, .]",so se- -duc- =11 -tive you should see the way ...
32,"[16, 8, 16, 8, =12, 16, 16, 16, 8, 16, 16, 8.,...","[0, 1, 0, 1, =12, 0, 1, 0, 1, 1, 0, 1, .]",her hips in slow =12 mo on the floor when we g...
33,"[8, 16, 8, =13, 16, 16]","[1, 1, 0, =13, 1, 0]",no she ain't =13 sto- -ppin'
34,"[16, 16, 16, 8, 16, 16, 16]","[1, 0, 1, 0, 1, 0, .]",ho- -mie I ain't sto- -ppin' .
35,"[16, 16, 8, 16, =14, 8, 16, 16, 8, 8, 16, 16]","[1, 0, 1, 0, =14, 1, 1, 0, 1, 0, 1, 0]",dri- -ppin' wet with =14 sweat man it's on and...
36,"[16, 16, 16., 16., 16., =15, 16., 8]","[1, 0, 1, 1, 1, =15, 1, .]",all my cham- -pagne cam- =15 -paign .
37,"[16, 16, 16, 16, 16, 16, 16, 8]","[1, 0, 1, 0, 1, 0, 0, 1]",bo- -ttle af- -ter bo- -ttle it's on

# humdrum analysis : stress
explain further....

In [ ]:
sample[sample['**lyrics'] == '.'].shape

In [37]:
# francophone corpus : first to XML, then to humdrum