In [1]:
import pandas as pd

In [3]:
# load sample data

sample_path = '../data/sample/50Cent_CandyShop.rap'

sample = pd.read_table(sample_path)

In [5]:
sample.head(10)

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype
0,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4,*M4/4
1,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98,*MM98
2,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1,*>Verse1
3,!MC:50 Cent,!MC:50 Cent,!,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent,!MC:50 Cent
4,=0,=0,=0,=0,=0,=0,=0,=0
5,2,.,.,.,.,R,.,.
6,8,.,.,.,.,R,.,.
7,16,1,.,4,.,ju,You,.
8,16,0,.,.,.,kʊd,could,.
9,16,1,.,.,.,hæv,have,.

In [11]:
# check the rows with na 

sample[sample.isnull().any(axis=1)]

# na rows are metadata rows. We are safe to proceed.

,**recip,**stress,**tone,**break,**rhyme,**ipa,**lyrics,**hype
457,!!!OTL:Candy Shop,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,!!!RTL:the Massacre,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,!!!RRD:2005/01/15|2005/02/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,"!!!RRM:Shady, Aftermath",NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,!!!RC#:004092,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,!!!BPP:1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,!!!BPD:2005/03/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,!!!COC:50 Cent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,!!!COL:50 Cent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,!!!COM:Curtis James Jackson III,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,!!!CDT:1975/07/06->2016/01/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,!!!ENC:Nathaniel Condit-Schultz,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469,!!!EED:Nathaniel Condit-Schultz,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470,!!!RDT:2014/-2016/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,!!!EST:In progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# humdrum analysis : break

explain further...

In [29]:
sample[sample['**break'] == '4']
# break 4: Complete declination unit. Indicate the beginning of the rap part (and end of the verse)

    **recip **stress **tone **break **rhyme **ipa **lyrics **hype
7        16        1      .       4       .    ju      You      .
63       16        0      .       4       .    aI        I      .
179      16        1      .       4       .   aIm      I'm      .
238      16        1      .       4       .   gIv     give      .
285      16        1      .       4       .   sun     soon      .

In [36]:
sample[sample['**break'] == '3'].head(5)
# Sub-declination unit. This level of break is what we will explore in our flow studies

   **recip **stress **tone **break **rhyme **ipa **lyrics **hype
15      16        1      .       3       .   haʊ      How      .
21      16        1      .       3       .    ju      you      .
35      16        1      .       3       .   tɜm     tem-      .
41       8        1      .       3       .    oʊ       O-      .
52       8        1      .       3       .  dæns    dance      .

In [28]:
# things we might explore:
# how many syllables / rhythmical onsets per 'flow'? 
# how many recips?

# humdrum analysis : stress
explain further....

In [28]:
sample[(sample['**stress'] == '1')  & (sample['**recip']=='8')]

    **recip **stress **tone **break **rhyme  **ipa **lyrics **hype
11        8        1      .       .       .   joʊr     your      .
39        8        1      .       .       .    raI      ri-      .
41        8        1      .       3       .     oʊ       O-      .
48        8        1      .       .       .  nɜkst     next      .
52        8        1      .       3       .   dæns    dance      .
..      ...      ...    ...     ...     ...    ...      ...    ...
398       8        1      .       3       .    noʊ       no      .
413       8        1      .       .       J    wɜt      wet      .
416       8        1      .       .       J   swɜt    sweat      .
419       8        1      .       .       .     an       on      .
438       8        1      .       .      M]     an       on      .

[73 rows x 8 columns]